{% extends '_base.html' %}

{% block content %}


<div class="container">
    <h2>About Us</h2>
        <p><strong>The problem that this solves.</strong> Often we only pay attention to data when someone decides to perform an analysis and share it with us. If we automate key analyses and pay attention on a regular basis, we'll all be more familiar with the health of the country and know what to prioritize. We'll also be able to hold politicians accountable for their actions if we see that metrics change abruptly.</p>
        <p><strong>Doesn't the government already do this?</strong> Yes, the government collects original data and produces regular reports. We want to centralize this information and make it easier to digest for citizens. For instance, crime data is available from each city, but only the FBI periodically merges it all and produces a yearly report. We can do better than this in 2017.</p>
</div>

{% endblock %}