{% extends '_base.html' %}

{% block content %}
    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
          <h1>USA Dashboard</h1>
          <p>We're building a dashboard of key metrics for the USA because: If you can't measure it, you can't manage it. When complete, you'll be able to see how well the country is doing along a number of metrics at a glance. We strive to paint an objective, centralized picture of what's currently going on, with very timely updates. We hope that by making this information easily visible and available that we can come to a collective understanding about whether the country is thriving or not.</p>
          <p>Sound good? Get involved Check out information about <a href="https://medium.com/data-for-democracy">Data for Democracy</a> and email <a href="mailto:jonathon@datafordemocracy.org">Jonathon Morgan</a> for an invitation.</p>
          <p>
{#             <a class="btn btn-lg btn-primary" href="{{ url_for('beerList') }}" role="button">What we've been brewing &raquo;</a> #}
          </p>
        </div>

    </div> <!-- /container -->
{% endblock %}